*,
*::before,
*::after {
  box-sizing: border-box;
  
}
.title{
    font-size: 3rem;
    padding: 62px;
    color: aliceblue;
    font-family: cursive;
    letter-spacing: 5px;
}
.main{
    
    max-width: 1200px;
    margin: 0 auto;
  }

img {
    
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  .btns{
    opacity: 1.3;
    z-index: 1;
    padding: 12px;
    margin: 35px;
    width: 42%;
    height: 24%;
    border-radius: 12px;
    font-size: 1.6rem;
    border:none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: rgb(238, 9, 55);
  }
  .btns:hover{
    border: 3px solid rgb(234, 16, 16);
    background-color: #0b2c3d;
    color: whitesmoke;
    transform:scale(23px)
  }
  .btn{
      text-decoration: none;
      color: white;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .card_text{
    font-size: 2rem;
  }
  .cards_item {
    display: flex;
    padding: 0.7rem;
    margin: auto;
    min-width: 270px;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    border: 1px solid #E7E7E7;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
  }
  
  .card_title {
    color: black;
    font-size: 1.1rem;
    font-weight: 800;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: gray;
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }