/* html, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
html,body{
  background-image: url("./img/red-black.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  object-fit: cover;
  text-align: center;
  overflow-y: auto;
}
